//@import "settings";
//@import "../../bower_components/foundation/scss/foundation";

/* MIXINS
==================================== */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition:0.4s) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

@mixin blur ($blur:5px) {
filter: blur(5px);
-webkit-filter: blur(5px);
}

$bsTop: 1px;
$bsLeft: 2px;
$bsBlur: 6px;
$bsColor: rgba(0, 0, 0, 0.4);
$bsColorLight: rgba(255, 255, 255, 0.8);

@mixin box-shadow($bsTop, $bsLeft, $bsBlur, $bsColor, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
    -moz-box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
    box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
  } @else {
    -webkit-box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
    -moz-box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
    box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
  }
}


/* MIXINS END
==================================== */

/* FONT STUFF
==================================== */

// @font-face {
//   font-family: 'brushpen';
//   src: url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@font-face{ 
	font-family: 'hellena-script';
	src: url('../fonts/hellena-script/Hellena Script-webfont.eot');
	src: url('../fonts/hellena-script/Hellena Script-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hellena-script/Hellena Script-webfont.woff') format('woff'),
	     url('../fonts/hellena-script/Hellena Script-webfont.ttf') format('truetype'),
	     url('../fonts/hellena-script/Hellena Script-webfont.svg#webfont') format('svg');
}

$featureFont: 'hellena-script', cursive;
$headingFont: 'Fenix', serif;
$pFont:'Open Sans', Helvetica, sans-serif;


/* FONT STUFF END
==================================== */

/* Media Query Breakpoints
==================================== */
$breakpointDesktopMin: 1280px;
$breakpointLaptopMax: ($breakpointDesktopMin - 1px);
$breakpointLaptopMin: 1070px;
$breakpointTabletMax: ($breakpointLaptopMin - 1px);
$breakpointTabletMin: 920px;
$breakpointPhoneMax: ($breakpointTabletMin - 1px);
$breakpointPhoneMin: 460px;
$breakpointTinyMax: ($breakpointPhoneMin - 1px);

/* /END/ Media Query Breakpoints
==================================== */

/* Layout Element Colors
==================================== */
$colorDark:      #222222;
$colorLight:     #EFEFEF;
$colorMain:      #B5CA15;
$colorMainLight: #FF696D;
$color2nd:       #0093A3;
$colorHighlight: #990066;
$colorBorder: #D9D9D9;
$color-4: #333333;

//coding colors
#990055
#669900
#0077AA
#F4F5F6
#F0F1F2
#4D4E53

// : #000000;
// : #EFEFEF;
// : #333333;
// : #085072;
// : #053D58;


html { 
	// background-image: url("../img/hexellence.png");	
 //  background-image: url("../img/hexSm.jpg"); 
 //    background-image: url("../img/strange_bullseyes.jpg"); 
 //    // background-image: url("../img/random_grey_variations.png"); 
	// // background-image: url("../img/hexellence2.png");	
	// // background-image: url("../img/hexellence3.png");	
	// // background-image: url("../img/pixelEmerald.png");
	// 	background-repeat: repeat;
  // background-color: $color2nd;
  padding: 0px;
  margin: 0px;
}

body {
	font: 100% $pFont;
  // font-style: 
	// background-image: url("../img/hexellence.png");	
  // background-image: url("../img/hexSm.jpg"); 
  // background-image: url("../img/strange_bullseyes.png");
  // background-image: url("../img/sail.jpg");
  // background-image: url("../img/random_grey_variations.png"); 
  // background-image: url("../img/hexellence2.png");  	
  // background-image: url("../img/pixel_weaveD.png");   
  background-image: url("../img/white_grid_paper-background_pattern.jpg");	
  // background-image: url("../img/wave.png");  
  // background-color: $color2nd;
	// background-image: url("../img/hexellence3.png");
	// background-image: url("../img/pixelEmerald.png");
		background-repeat: repeat;
	// position: relative;
  padding: 0px;
  margin: 0px;
}

.wave {
  width: 100%;
  height: 35px;
  background-image: url("../img/wave.png");  
  background-repeat: repeat-x;
  margin-top: 30px;
}

.ocean {
  width: 100%;
  background-color: rgba(00,119,170,0.4);
  background-image: none;
}

.mammoth {
    background-image: url("../img/mammothTPsm.png"); 
    width: 350px;
    height: 238px;
    float: right;
    margin: 20px;
}
/* Lists
========================================================================= */

// Remove default list styles, margins and padding

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: $colorDark;
  line-height: 1.5em;
  margin: 7px 0px 10px 0px;
} 

h1 {
  color:$colorDark;
  font-family: $featureFont;
  font-size: 37px;
  margin: 12px 0px; 
}

h2 {
  color:$colorMain; font-family: lobster;
  // font-family: $headingFont;
  display: inline;
}

.textbox h2 {
  color: $colorDark;
}

h3 {
  color:$color2nd;
  margin: 12px;
  display: inline;
}

.fa {
  color: red;
}

.mainNavClose .fa  {
  // color: $colorLight;
  margin-left: 20px;
  margin-right: -20px;
  float: left;
}

button:focus { outline: none; }

// button, button:hover, button:focus, .button:hover, .button:focus {
//   background-color: transparent;
// }

/* /END/ Lists
========================================================================= */

/* Link stylings
========================================================================= */
// a {
//     color: $color2nd;
//   }

a:link
{
text-decoration:none;
@include transition;
color: $colorHighlight;
}

a:visited
{
text-decoration:none;
color: $colorHighlight;
}

a:hover
{
@include transition(0.5s);
color: $color2nd;
}

a:active
{
text-decoration:none;
color: #f8f8f8; 
}

/* /END/ Link stylings
========================================================================= */

.wrapper {
	min-height: 100%;
	// position: relative;
}

.myPanel {
  background-color: $colorLight;
  padding: 1.2em;
  // margin: 2.0em;
  }

  // margin-bottom: 40px;


.blur {
	-webkit-filter:blur(10px);
}

box { 
	@include border-radius (10px); 
	margin: auto;
	background-color: $colorDark;
}
 
.pencils {
	width: 700px;
	@include transition;

	&:hover {
		width: 500px;
		@include blur (10px);
	}
}

.textbox {
	width: 450px;
	height: 200px;
	background-color: white;
	-webkit-filter:opacity(0.3);
	-webkit-filter:blur(1px);
	z-index: 0;
	position: absolute;
}

.content {
	z-index: 10;
	// position: relative;
  height: 100%;
  // max-width: 93%;
  // margin: auto;
  padding: 1.2em 2em;
}



/* nav stuff from liz-site
==================================== */

nav, footer, button, .myPanel {
	// border-style: none;
	border-style: solid;
	border-width: 1px;
	border-color: $colorBorder;
	@include box-shadow($bsTop, $bsLeft, $bsBlur, $bsColor, $inset: false);
	z-index: 500;
}

nav {
	text-align: center;
	text-transform: capitalize;
	max-height: 300px;
	// background-color: $colorMainLight;
	padding: 20px 30px;
	z-index: 1000;
}

nav li {
  display: inline-block;
    // float:right;
}

// .main-nav a:last-child {
//   margin-right: 0px;
// }

// .navbar li {
//   display: inline-block;
// }

.main-logo,
.main-logo h1

// .main-nav li 
{
  // border-radius: 5px;
  // margin-right: 10px;
  color: $colorMainLight;
}

.main-nav li a 
{
  font-size: 21px;
  margin-left: 48px;
  margin-right: 0px;
  font-weight: bold;
}

.main-logo,
// .main-logo a,
.main-nav a,
.main-nav h1,
{
  text-decoration: none;
  display: inline-block;
  text-align: inline-block;
  padding: 10px 0px;
  font-size: 53px;
}

.main-nav 
{
  // border-radius: 5px;
  text-align: right;

  li {
    margin: 0;
  }

  a {
    font: $headingFont;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 2px dotted $color2nd;
    padding: 0px 0px;
    margin: 10px 15px;
    &:hover {color:$colorHighlight;}
  }
}


.main-logo
// .main-logo a 
{
  // margin-right: 20px;
  // // padding-top: 10px;
  // margin-top: -11px;
  // margin-bottom: 0px;
  display: inline-block;
  float: left;
  margin: 0;
}

.main-logo a {
margin-right: 20px;
// color: $colorLight;
}

.main-header {
  // padding-top: 20px;
  // padding-bottom: 5px;
  // color: pink;
  // background-color: orange;
}


footer {
  // background-image: url("/assets/images/seamlessFlicksRed.png");
  background-color: $colorLight;
  color: $colorMainLight;  
  text-align: center;
  // position: absolute;

  padding: 1rem;

	// width: 100%;
	height: 32px;
	bottom: 0px;
	left: 0px;
  right: 0px;
  margin-top: 45px;

  a {
    padding: 20px 0px;
  }
}

















/* LAPTOP SCREEN
==================================== */
@media screen
and (min-width: $breakpointLaptopMin)
and (max-width: $breakpointLaptopMax) 
{
  .main-nav li a {
    font-size: 19px;
    margin-left: 31px;
    // margin-right: 0px;
  // color: yellow;
  }
} 

/* LAPTOP SCREEN END
==================================== */

/* TABLET SCREEN
==================================== */
@media screen
and (min-width: $breakpointTabletMin)
and (max-width: $breakpointTabletMax) 
{
  .main-nav li a {
    font-size: 17px;
    margin-left: 22px;
    // margin-right: 13px;
    // color: green;
  }
} 

/* TABLET SCREEN END
==================================== */

// @media screen and (min-width: $breakpointPhoneMax) and (max-width: $breakpointTabletMin) {
//   .main-nav li a {
//     font-size: 15px;
//     color: green;
//     margin-left: 13px;
//     margin-right: 13px;
//   }
// }


.mainNavClose {
  display: none;
}


/* PHONE/SIDENAV MODE
==================================== */

@media screen
// and (min-width: $breakpointTinyMax)
and (max-width: $breakpointPhoneMax) 
{

  p {
    line-height:1em;
  }

  nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    max-height: none;
    // background-color: $colorMainLight;
    padding: 20px 15px;
    // transform: translate3d(-290px, 0, 0);
    // transition: transform 0.4s ease;
  }

  .navOpen {
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);

    transition: transform 0.8s ease;    
    -webkit-transition: transform 0.8s ease;    
    -moz-transition: transform 0.8s ease;    
    -ms-transition: transform 0.8s ease;
  }

  .navClose {
    transform: translate3d(-290px, 0, 0);
    -webkit-transform: translate3d(-290px, 0, 0);
    -moz-transform: translate3d(-290px, 0, 0);
    -ms-transform: translate3d(-290px, 0, 0);

    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
  }

  .navHeadingWhenOpen {
    transform: translate3d(69px, 0, 0);
    -webkit-transform: translate3d(69px, 0, 0);
    -moz-transform: translate3d(69px, 0, 0);
    -ms-transform: translate3d(69px, 0, 0);
    
    transition: transform 0.8s ease;
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
  }

  .navHeadingWhenClose {
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
  }

  .main-nav li {
    display: block;
    min-height: 45px;
    a {
      font-size: 20px;
      display: block;
      margin-right: 20px;
      // color: blue;
    }
  }

  .main-logo {
    display: block;
    float: none;
  }

  .mobileWrap {
    height: 60px;
    width: 100%;
    display: block;
    max-height: 300px;
    padding: 20px 15px;
    background-color: red;
  }

  .mainNavClose {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    // background-color: $colorMainLight;
    // border: none;
  }


  body {
      padding-top: 55px;
    }

  .col-half {
    width: 100%;
  }


  // .main-wrapper {
  // // width: 90%;
  // // margin: auto;
  // }

  .myImage:hover {
    width: 90%;
    display: none;
  }


  .navHeadingWhenClose .menuTextClose {
      display: none;
    }

  .navHeadingWhenClose .menuTextMenu {
      display: block;
    }

  .navHeadingWhenOpen .menuTextClose {
      display: none;
    }

// for if I want there to always be an X on the nav when it's open
  // .navHeadingWhenOpen .menuTextClose {
  //     display: block;
  //   }

  .navHeadingWhenOpen .menuTextMenu {
      display: block;
    }

	// footer {
	// 	position: static;
	// }

.content {
    padding: 1.0em 1.4em;
}


  .myPanel {
    padding: 0.9em;
    // margin: 1.0em;
    }

} 


@media screen
and (max-width: $breakpointTinyMax) 
{

  p {
    line-height:0.8em;
  }

  .navHeadingWhenClose .menuTextClose {
      display: none;
    }

  .navHeadingWhenClose .menuTextMenu {
      display: block;
    }

  .navHeadingWhenOpen .menuTextClose {
      display: block;
    }

  .navHeadingWhenOpen .menuTextMenu {
      display: none;
    }

.content {
    padding: 0.6em 0.7em;
}

  // .myPanel {
  //   padding: 0.8em;
  //   margin: 0.8em;
  //   }

	// footer {
	// 	position: static;
	// }
}



/* PHONE/SIDENAV MODE END
==================================== */

/* nav stuff from liz-site
==================================== */

.textbox { 
  @include border-radius (3px); 
  margin: auto;
  max-width: 50%;
  text-align: center;
  padding: 12px 12px;
  background-color: $colorLight;
}

.textbox p, .textbox h1, .textbox h2, .textbox h3 {
  padding: 2px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.textbox p {
  color: $colorDark;
}




/* blur.js sass
==================================== */

.circle{
	margin:0 auto;
	
	-webkit-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	-moz-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	
	width:255px;
	height:255px;
	
	-webkit-border-radius:127px;
	-moz-border-radius:127px;
	border-radius:127px;
	
	cursor:move;
}



/* blur.js sass ends
==================================== */




