//@import "settings";
//@import "../../bower_components/foundation/scss/foundation";

/* MIXINS
==================================== */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition:0.4s) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

@mixin blur ($blur:5px) {
filter: blur(5px);
-webkit-filter: blur(5px);
}

$bsTop: 1px;
$bsLeft: 2px;
$bsBlur: 6px;
$bsColor: rgba(0, 0, 0, 0.4);
$bsColorLight: rgba(255, 255, 255, 0.8);

@mixin box-shadow($bsTop, $bsLeft, $bsBlur, $bsColor, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
    -moz-box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
    box-shadow:inset $bsTop $bsLeft $bsBlur $bsColor;
  } @else {
    -webkit-box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
    -moz-box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
    box-shadow: $bsTop $bsLeft $bsBlur $bsColor;
  }
}


/* MIXINS END
==================================== */

/* Media Query Breakpoints
==================================== */
$breakpointDesktopMin: 1330px;
$breakpointLaptopMax: ($breakpointDesktopMin - 1px);
$breakpointLaptopMin: 1185px;
$breakpointTabletMax: ($breakpointLaptopMin - 1px);
$breakpointTabletMin: 970px;
$breakpointPhabletMax: ($breakpointTabletMin - 1px);
$breakpointPhabletMin: 755px;
$breakpointPhoneMax: ($breakpointPhabletMin - 1px);
$breakpointPhoneMin: 450px;
$breakpointTinyMax: ($breakpointPhoneMin - 1px);
$breakpointTinyMin: 350px;
/* /END/ Media Query Breakpoints
==================================== */

/* Layout Element Colors
==================================== */
$colorDark:      #222222;
$colorLight:     #EFEFE4;
$colorMain:      #b0c700;
$colorMainLight: #FF696D;
$color2nd:       #0093A3;
$colorHighlight: #990066;
$colorBorder: #D9D9D9;
$color-4: #333333;

//coding colors
#990055
#669900
#0077AA
#F4F5F6
#F0F1F2
#4D4E53

/* Lists
========================================================================= */

// Remove default list styles, margins and padding

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
// End Remove default list styles, margins and padding

/* FONT STUFF
==================================== */

// @font-face {
//   font-family: 'brushpen';
//   src: url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/AnotherBrushPen/anotherBrushPen-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@font-face{ 
  font-family: 'hellena-script';
  src: url('../fonts/hellena-script/Hellena Script-webfont.eot');
  src: url('../fonts/hellena-script/Hellena Script-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hellena-script/Hellena Script-webfont.woff') format('woff'),
       url('../fonts/hellena-script/Hellena Script-webfont.ttf') format('truetype'),
       url('../fonts/hellena-script/Hellena Script-webfont.svg#webfont') format('svg');
}

$featureFont: 'hellena-script', cursive;
// $headingFont: 'Lato', serif;
$headingFont: 'Roboto Slab', sans-serif;
// $headingFont: 'Raleway', sans-serif;
// $pFont:'Open Sans', Helvetica, sans-serif;
// $pFont:'Lato', Helvetica, sans-serif;
$pFont:'Open Sans', Helvetica, sans-serif;
// $pFont: 'Fenix', serif;
// $pFont: 'Roboto Slab', serif;
// $pFont: 'Raleway', serif;
// $pFont: 'Roboto', sans-serif;

/* FONT STUFF END
==================================== */

/*Fonts*/

// @import 'https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto|Roboto-Slab';
// @import 'https://fonts.googleapis.com/css?family=Open-Sans|Roboto-Slab';


//*Element styles*/

html { 
  padding: 0px;
  margin: 0px;
}

body {
  font: 100% $pFont;
  background-image: url("../img/white_grid_paper-background_pattern.jpg");  
  // @include blur (2px);
  background-repeat: repeat;
  // position: relative;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  // background-color: #fefefe;
  color: #333333;
  // position: relative;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
  color: #de1977;
  text-decoration: none;
  line-height: 2;
}
a:hover {
  color: #63186C;
}
p {
  font: 95% $pFont;
  margin: 12px;
  // margin-top: 10px;
  // margin-bottom: 5px;
  color: $colorDark;
  line-height: 1.5;
  text-align: left;
 // below is mine
  // margin: 7px 0px 10px 0px;
}

// p  {font-family: 'Raleway', sans-serif;}

h1 {
  // font-family: 'Raleway', sans-serif;
  font-family: $headingFont;
  color:$colorDark;
  font-weight: normal;
  font-size: 1.95rem;
  // don't add line height to h1 it messes up the nav
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.menu h1 {
      color:$colorHighlight;
  }

h2 {
  font-family: $headingFont;
  color:$colorMain;
  font-weight: 600;
  font-size: 2rem;
  
  // margin-bottom: 20px;
  line-height: 1.8;
  display: inline;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.textbox h2 {
  color: $colorDark;
}

h3 {
  font-family: $pFont;
  color:$color2nd;
  font-size: 1.2rem;
  margin: 12px;
  line-height: 2.5;
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

img {max-width: 100%;}

.mobile {
  display: none;
  width: 95%;
}

/*Global styles*/
.header {
  // background-color: #d51270;
}
.Navigation {
  list-style: none;
  padding-left: 0;
}

.Navigation li {
  padding-right: 1.6rem;
  display: inline-block;
  // color: green;
}

// .Navigation li:first-child {
//   padding-left: 1.9rem;
// }

.Navigation li a {
  font-size: 1.1rem;
  color: $colorHighlight;
  font-weight: bold;
}
.Navigation li a:hover {
  text-decoration: underline;
}
.Navigation-current {
  color: $colorMain;
  font-weight: 700;
}

.container {
  padding: 0px 20px;
/*  max-width: 900px;*/
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.List-noBullets {
  list-style: none;
  padding-left: 0;
}

.center {
  text-align: center;
  margin: auto;
}

// #nav-id {
//   margin-top: 30px;
//   color: blue;
// }

/* Link stylings
========================================================================= */
// a {
//     color: $color2nd;
//   }

a:link
{
text-decoration:none;
@include transition;
color: $colorHighlight;
}

a:visited
{
text-decoration:none;
color: $colorHighlight;
}

a:hover
{
@include transition(0.5s);
color: $color2nd;
}

a:active
{
text-decoration:none;
color: #f8f8f8; 
}

/* /END/ Link stylings
========================================================================= */
// .testy {color:red;}

.fa {
  // color: red;
margin: 9px 0px;
}

.mainNavClose .fa  {
  // color: $colorLight;
  margin-left: 20px;
  margin-right: -20px;
  float: left;
}

.button:focus { 
  outline: none;
 }


.wrapper {
	min-height: 100%;
	// position: relative;
}



  // margin-bottom: 40px;


.blur {
	-webkit-filter:blur(10px);
}

box { 
	@include border-radius (10px); 
	margin: auto;
	background-color: $colorDark;
}
 
.pencils {
	width: 700px;
	@include transition;

	&:hover {
		width: 500px;
		@include blur (10px);
	}
}

.textbox {
	width: 450px;
	height: 200px;
	background-color: white;
	-webkit-filter:opacity(0.3);
	-webkit-filter:blur(1px);
	z-index: 0;
	position: absolute;
}




.content {
  z-index: 10;
  padding: 1.2em 2em;

}

footer {
  background-color: $colorLight;
  color: $colorMainLight;  
  text-align: center;
  // position: absolute;

  padding: 1rem;

	// width: 100%;
	height: 32px;
	bottom: 0px;
	left: 0px;
  right: 0px;
  margin-top: 45px;

  a {
    padding: 20px 0px;
  }
}




/* CODEBAR NAV */
.navbar.affix {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin-top: 0;
    padding-top: 0px;
    border-radius: 0;
    animation: fadeIn 0.5s ease-in;
    -webkit-animation: fadeIn 0.5s;
}
.affix-placeholder {
    display: none;
}
.navbar.affix + .affix-placeholder {
    display: block;
    visibility: hidden;
}

.button {
  display: none;
  color: #f8f8f8;
  // padding: 5px 0px;
  vertical-align: top;
  font-size: 1.5rem;
  // font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
}

.button span {
  margin: 0 30px;
  display: inline-block;
  color: #419EA7;
}

.logo_wrapper {
    width: 162px;
    height: 162px;
    margin-top: 12px;
    margin-bottom: 0px;
    display: inline-block;
    transition: .6s;
    vertical-align: middle;
}

// .shrink .logo_wrapper {
//   height: 75px;
//   width: 75px;
//   margin-bottom: 0px;
//   margin-top: 6px;
//   transition: .6s;
// }

#buffer{
    height: 70px;
    // background-color: #266b7c;
    transition: .6s;
}

// #buffer.shrink {
//   height: 75px;
//   transition: .6s;
// }

.logo_wrapper img {
  height: 100%;
  width: auto;
  overflow: none !important;
}

// Adds 1.6em of padding tot he the nav_list_left left-padding so the first nav li is not against left edge (the li's all have right-padding to seperate them).
// Was orignally added to the first child of the nav li's but this caused an issue once the nav swapped to the mobile nav layout
// This padding is removed in the mobile section of code so centered nav lists above each other are aligned
.nav_list_left {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding:10px 0px 10px 1.6em;
  margin: 0px;

}

.nav_list_right {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding:10px 0px;
  margin: 0px;
}

 .header .fa {
    -webkit-text-stroke: 1px #ffffff;
  }

 .header .fa-cog {
    font-size: .8rem;
    display: none;
  }

 .header .fa-linkedin, .fa-facebook {
    vertical-align: 0px;
  }


.break {
  border-bottom: solid 10px #266b7c;
}


nav {
  text-align: center;
  text-transform: uppercase;
}

nav.fixed {
  position: fixed;
  // width: 100%;
  z-index: 5;
  // background-image: url("assets/img/pixel_weave_slate2.png");
  left: 0;
  width: 100%;
}
/* below is test */

// nav li {
//   display: inline-block;
// }


/* CODE BAR NAV END */




.textbox { 
  @include border-radius (3px); 
  margin: auto;
  max-width: 50%;
  text-align: center;
  padding: 12px 12px;
  background-color: $colorLight;
}

.textbox p, .textbox h1, .textbox h2, .textbox h3 {
  padding: 2px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.textbox p {
  color: $colorDark;
}

  .main-nav li a {
    font-size: .95rem;
    margin-left: 22px;
    // margin-right: 13px;
  }

  .logo_wrapper {
    display: none;
  }

nav, footer, .Card-item, .panel, .social-link, .button {
  // border-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: $colorBorder;
  @include box-shadow($bsTop, $bsLeft, $bsBlur, $bsColor, $inset: false);
  z-index: 4;
}


/* blur.js sass
==================================== */

// .circle{
//   margin:0 auto;
  
//   -webkit-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
//   -moz-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
//   box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
  
//   width:255px;
//   height:255px;
  
//   -webkit-border-radius:127px;
//   -moz-border-radius:127px;
//   border-radius:127px;
  
//   cursor:move;
// }



/* blur.js sass ends
==================================== */


.Class-title {
  margin-bottom: 10px;
}

/*Component styles*/
.Photo {
  border-radius: 300px;
  max-width: 200px;
  margin: 10px auto 20px auto;
  display: block;
  // -webkit-filter: grayscale(100%);
  //   filter: grayscale(100%);
}

.thumby {
  max-width: 100%;
}
.Cards {
  padding: 0;
  margin: 0;
}

// .myPanel {
//   background-color: $colorLight;
//   padding: 1.2em;
//   margin: 20px 0;
// }

.panel {
  padding: 1.2em;
  margin-bottom: 20px;
  background-color: $colorLight;
}

.Card-item {
  list-style: none;
  margin-bottom: 20px;
  background-color: $colorLight;
  // background-image: url("assets/img/pixel_weave_slate2.png");

}
.Card-title {
  padding: 0px 10px 7px 10px;
  display: block;
  align-items: flex-start;
}

.Card-info {
  //make the font inside the boxes smaller
  font-size: .9rem;
  min-height: 100px;
  padding: 20px;
}

.Card-info p {
  //make the font inside the boxes centered
  text-align: center;
  }

.Card-info .Card-title {
  font-weight: 700;
}

.Card-image {
  // max-width: 450px;
  max-width: 93%;
  margin: auto;
  // display: inline-block;
}

/*Component styles*/
.social-link {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.social-link {
  margin-bottom: 10px;
/*    &:last-child{
      ;
    }*/
}

.social-link li {
  margin: 15px;
}
/*Pseudo classes for first-child and nth-child*/
.social-link:first-child a {
  border-color: $colorHighlight;
  color: $colorHighlight;
}

.social-link:nth-child(2) a {
  border-color: #00ACED;
  color: #00ACED;
}

.social-link:nth-child(3) a {
  border-color: #1B85BD;
  color: #1B85BD;
}

.social-link a {
  padding: 10px 5px 5px 5px;
  // border: 2px solid #de1977;
  display: inline-block;
  margin: 10px;
  min-width: 130px;
  font-size: .85rem;
  text-align: center;
}

.social-link a:hover {
  opacity: 0.6;
}


// TWITTER CODE

.Feed-height {
  // max-height: 615px;
  // max-height: 746px;
}

.timeline-Widget {
  max-height: 714px;
  // margin-top: 8px;
  // padding-top: 10px;
}


#twitter-widget-0, #twitter-widget-1 {
  max-height: 600px;
  // margin-top: 8px;
}



/*Grid styles*/

.Grid {
    display: flex;  /*Flexbox container*/
    flex-wrap: wrap;
      li {
    // text-shadow: 0px 1px $colorTextShadow;
  }
}


.Grid {
  overflow: hidden;
  margin-bottom: 16px;
}
.Grid-item {
  box-sizing: border-box;
  margin: 1%;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

  .Grid-item {
    width: auto;
  }

  .Grid-item:hover {
    // transform: scale(1.02);
  }

  .Grid-half {
    width: 48%;
  }

   .Grid-whole {
    width: 98%;
  }

  .Grid-third {
    width: 31.3%;
  }

  .Grid-quarter {
    width: 23%;
  }

.mobile {
  display: none;
}

/* LAPTOP SCREEN
==================================== */
@media screen
and (min-width: $breakpointLaptopMin)
and (max-width: $breakpointLaptopMax) 
{
  .main-nav li a {
    font-size: 1.05rem;
    margin-left: 31px;
    // margin-right: 0px;
  // color: orange;
  }

  // h1 {color: orange;}

  // .Navigation li, .nav_list_left, .nav_list_right {
  //   display: block;
  //   padding: 0 0;
  // }

  .Navigation li {
  padding-right: 2.8rem;
  color: red;
}

  .logo_wrapper {
    display: none;
  }

  .mobile {
    display: none;
    width: 95%;
  }

} 

/* LAPTOP SCREEN END
==================================== */

/* TABLET SCREEN
==================================== */
@media screen
and (min-width: $breakpointTabletMin)
and (max-width: $breakpointTabletMax) 
{
  .main-nav li a {
    font-size: .95rem;
    margin-left: 22px;
    // margin-right: 13px;
    // color: yellow;
  }
  // h1 {color: yellow;}

  // .Navigation li, .nav_list_left, .nav_list_right {
  //   display: block;
  //   padding: 0 0;
  // }

  .Navigation li {
    padding-right: 1.6rem;
    color: yellow;
  }

  .logo_wrapper {
    display: none;
  }

   .Grid-quarter {
  width: 98%;
  }

    .mobile {
    display: none;
    width: 95%;
  }


} 

/* TABLET SCREEN END
==================================== */

/* PHABLET SCREEN
==================================== */
@media screen
and (min-width: $breakpointPhabletMin)
and (max-width: $breakpointPhabletMax) 
{
  .mainLogo a {
    font-size: 1.05rem;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0.35rem;
  }
  .main-nav li a {
    font-size: 0.75rem;
    line-height: 1.3rem;
    margin-left: .3rem;
  }


  .Grid-third {
    width: 98%;
  }
  .Grid-quarter {
    width: 98%;
  }

  // h1 {color: green;}

  .main-nav li a {
    // color: green;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }


}
/* PHABLET SCREEN END
==================================== */


/* PHONE LANDSCAPE
==================================== */

@media screen
// and (min-width: $breakpointTinyMax)
and (max-width: $breakpointPhoneMax) 
{

  nav {
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    max-height: 279px;

    // background-color: $colorMainLight;
    // padding: 20px 15px;
    padding: 20px 0px;
    // transform: translate3d(-290px, 0, 0);
    // transition: transform 0.4s ease;
  }

    .main-nav li a {
    font-size: .95rem;
    margin-left: 22px;
    // margin-right: 13px;
    // color: blue;
  }

 /*  h2 {
       color: blue;
   }*/

  .fixed, #buffer {
    display: none;
    // maxwidth: 474px;
  }

 .Navigation li {
  padding-left: 0px;
  padding-right: 0px;
 }

  .logo_wrapper {
    display: none;
  }

  .button {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    // background-color: #B4234D;
    border: none;  
    line-height: 1;
    z-index: 200;
    cursor: pointer;
  }

  #buffer {
    display: inline-block;
    height: 50px;
  }

  .Grid-half {
    width: 98%;
  }

  .Grid-third {
    width: 98%;
  }

  .myImage:hover {
    width: 90%;
    display: none;
  }

.content {
    padding: 1.0em 1.4em;
}

  .panel {
    padding: 0.9em;
    // margin: 1.0em;
    }

// Mkes nav into mobile nav
// Also removes the nav_list_left left-padding which is present in the desktop layout so the first nav li is not against left edge (the li's all have right-padding to seperate them).
// Was orignally added to the first child of the nav li's but this caused an issue once the nav swapped to the mobile nav layout 
  .Navigation li, .nav_list_left, .nav_list_right {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mobile {
    display: block;
  }


  .desktop {
    display: none;
  }

}

/* PHONE LANDSCAPE END
==================================== */

/* WIDE PHONE PORTRAIT
==================================== */

@media screen
// and (min-width: $breakpointTinyMax)
and (max-width: $breakpointPhoneMin) 
{

  .button {
    display: block;
  }

  .Navigation li, .nav_list_left, .nav_list_right {
    display: block;
    padding: 0 0;
  }

  /*Component styles*/
  .Card-info {
    min-height: 200px;
  }

  /*Grid styles*/
  .Grid-item {
    width: 98%;
  }


  // h2 {color: indigo;}  

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

}

/* WIDE PHONE PORTRAIT END
==================================== */

/* PHONE PORTRAIT
==================================== */
@media screen
and (max-width: $breakpointTinyMin) 
{
  h1 {
      font-size: 1.85rem;
      // color: violet;
  }

  .wrapper, .mainNavClose 
  {
    width: $breakpointTinyMin;
  }
    .Navigation li, .nav_list_left, .nav_list_right {
    display: block;
  }

  .button {
    display: block;
  }


  // h2 {color: violet;}

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

.social-link {
  margin-bottom: 10px;
}

  footer {
    margin-top: 30px;
  }

}
/* PHONE PORTRAIT END
==================================== */

