/* line 31, ../scss/main.scss */
body {
  font: 100% Cabin, Lobster, lato, Helvetica, sans-serif;
  background-image: url("../img/hexellence.png");
}

/* line 36, ../scss/main.scss */
.blur {
  -webkit-filter: blur(10px);
}

/* line 40, ../scss/main.scss */
box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  background-color: #333333;
}

/* line 46, ../scss/main.scss */
h1 {
  color: black;
  font-family: cabin;
}

/* line 51, ../scss/main.scss */
h2 {
  color: #b5ca15;
  font-family: lobster;
}

/* line 52, ../scss/main.scss */
h3 {
  color: #f40066;
}

/* line 54, ../scss/main.scss */
.pencils {
  width: 700px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
/* line 58, ../scss/main.scss */
.pencils:hover {
  width: 500px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* line 64, ../scss/main.scss */
.textbox {
  width: 450px;
  height: 200px;
  background-color: white;
  -webkit-filter: opacity(0.3);
  -webkit-filter: blur(1px);
  z-index: 0;
  position: absolute;
}

/* line 75, ../scss/main.scss */
.content {
  padding: 15px;
  z-index: 10;
  position: relative;
}
