/*Your styles goes here*/
body {
    background-color: yellow;
}

.testy {color:red;}

ul {
	list-style: none;
}

/*Fonts*/

@import 'https://fonts.googleapis.com/css?family=Lato|Raleway';


h1 {font-family: 'Lato', sans-serif;}

p  {font-family: 'Raleway', sans-serif;}



//*Element styles*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.4;
	background-color: #fefefe;
	color: #333333;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
}
a {
	color: #de1977;
	text-decoration: none;
}
a:hover {
	color: #63186C;
}
p {
	margin-top: 10px;
	margin-bottom: 5px;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
}
h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Global styles*/
.Header {
	background-color: #d51270;
}
.Navigation {
	list-style: none;
	padding-left: 0;
}
.Navigation li {
	padding-right: 15px;
	display: inline-block;
}
.Navigation li a {
	font-size: 17px;
	color: #ffffff;
}
.Navigation li a:hover {
	text-decoration: underline;
}
.Navigation-current {
	color: #d3d3d3;
	font-weight: 700;
}
.Container {
	padding: 10px;
/*	max-width: 900px;*/
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.List-noBullets {
	list-style: none;
	padding-left: 0;
}


/* CODEBAR NAV */
.navbar.affix {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin-top: 0;
    padding-top: 0px;
    border-radius: 0;
    animation: fadeIn 0.5s ease-in;
    -webkit-animation: fadeIn 0.5s;
}
.affix-placeholder {
    display: none;
}
.navbar.affix + .affix-placeholder {
    display: block;
    visibility: hidden;
}

.button {
  display: none;
  color: #f8f8f8;
  padding: 5px 0px;
  vertical-align: top;
  font-size: 27px;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: 300;
  text-align: center;
}

.button span {
  margin: 0 30px;
  display: inline-block;
  color: #419EA7;
}

.logo_wrapper {
    width: 162px;
    height: 162px;
    margin-top: 12px;
    margin-bottom: 0px;
    display: inline-block;
    transition: .6s;
    vertical-align: middle;
}

.shrink .logo_wrapper {
  height: 75px;
  width: 75px;
  margin-bottom: 0px;
  margin-top: 6px;
  transition: .6s;
}

#buffer{
    height: 162px;
    background-color: #266b7c;
    transition: .6s;
}

#buffer.shrink {
  height: 75px;
  transition: .6s;
}

.logo_wrapper img {
  height: 100%;
  width: auto;
  overflow: none !important;
}

.nav_list_left {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding:10px 0px;
  margin: 0px;
}

.nav_list_right {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding:10px 0px;
  margin: 0px;
}

 .header .fa {
    -webkit-text-stroke: 1px #ffffff;
  }

 .header .fa-cog {
    font-size: .8em;
    display: none;
  }

 .header .fa-linkedin, .fa-facebook {
    vertical-align: 0px;
  }


.break {
  border-bottom: solid 10px #266b7c;
}


nav {
  text-align: center;
  text-transform: uppercase;
}

nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-image: url("/assets/img/pixel_weave_slate2.png");
  left: 0;
  top: 0;
}

/* CODE BAR NAV END */


/*Component styles*/
.Photo {
	border-radius: 300px;
	max-width: 200px;
	margin: 10px auto 20px auto;
	display: block;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.thumby {
  max-width: 100%;
}
.Cards {
	padding: 0;
	margin: 0;
}
.Card-item {
	list-style: none;
	margin-bottom: 20px;
	background-color: #eeeeee;
}
.Card-title {
	padding: 0px 10px 7px 10px;
	display: block;
	align-items: flex-start;
}
.Card-info {
	font-size: 16px;
	min-height: 100px;
	padding: 20px;
}
.Card-info .Card-title {
	font-weight: 700;
}
/*Pseudo classes for first-child and nth-child*/
.Social-link:first-child a {
	border-color: #1984de;
	color: #1984de;
}
.Social-link:nth-child(2) a {
	border-color: #6d19de;
	color: #6d19de;
}
.Social-link a {
	padding: 5px;
	border: 2px solid #de1977;
	display: inline-block;
	margin-bottom: 10px;
	min-width: 130px;
	font-size: 15px;
}
.Social-link a:hover {
	opacity: 0.6;
}

/*Grid styles*/
.Grid {
	overflow: hidden;
}
.Grid-item {
	box-sizing: border-box;
	margin: 1%;
	float: left;
	width: 100%;
}
.Grid-item:hover {
	transform: scale(1.02);
}

/*Media queries*/
@media all and (min-width: 480px) {
	/*Component styles*/
	.Card-info {
		min-height: 200px;
	}
	/*Grid styles*/
	.Grid-item {
		width: 48%;
	}
}
@media all and (min-width: 592px) {
	.Grid {
		display: flex; 	/*Flexbox container*/
		flex-wrap: wrap;
	}
	/*Global styles*/
	h1 {
		font-size: 60px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	/*Grid styles*/
	.Grid-item {
		width: auto;
	}
	.Grid-whole {
		width: 98%;
	}
	.Grid-half {
		width: 48%;
	}
	.Grid-third {
		width: 31.3%;
	}
	.Grid-quarter {
		width: 23%;
	}
	
	/*Component styles*/
	.Social-link {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
}